.bodyRed{
    background-color: red;
}
 header{
     font-size: 35px;
     
     font-family: 'Rubik Moonrocks', cursive;
 }

.accordion-button.bodyRed:not(.collapsed){
    background-color: red;
    color:black;
    
}
h1 {
    font-family: 'Mansalva', cursive;
}
h5{
    font-family: 'Mansalva', cursive;
}

.bodyOrange{
    background-color: orange;
}
.accordion-button.bodyOrange:not(.collapsed){
    background-color: orange;
    color:black;
}

.bodyYellow{
    background-color: yellow;
}
.accordion-button.bodyYellow:not(.collapsed){
    background-color: Yellow;
    color:black;
}

.bodyGreen{
    background-color: green;
}
.accordion-button.bodyGreen:not(.collapsed){
    background-color: green;
    color:black;
}

.bodyBlue{
    background-color: blue;
}
.accordion-button.bodyBlue:not(.collapsed){
    background-color: blue;
    color:black;
}

.bodyPurple{
    background-color: purple;
}
.accordion-button.bodyPurple:not(.collapsed){
    background-color: purple;
    color:black;
}

.bodyViolet{
    background-color: violet;
}
.accordion-button.bodyViolet:not(.collapsed){
    background-color: violet;
    color:black;
}

.accordion-button.bodyBlue:not(.collapsed){
    background-color: blue;
    color:black;
}

.bodyEnglish{
    background-color: aqua;
}

img.d-block{
    width: 25%;
        }

    a{
        color:black;
        font-weight: 800;
    }

    h5{
        text-decoration: none;
    }

h1.text-center{
    font-family: 'Rubik Microbe', cursive;
}
 